
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" asp-controller="Home">
        <label>Başlangıç Tarihi: </label>
        <input type="datetime-local" id="queryDate" name="queryDate" />
        <label>Bitiş Tarihi: </label>
        <input type="datetime-local" id="_queryDate" name="queryDate" />
        <input type="submit" name="submitButton" value="Arasındaki iş günlerini getir?" />
    </form>
</body>
</html>
